if books != null
    each book of books 
        a(href="/books/"+book.isbn) #{book.title}
        if user.owner
            button#book.isbn(type='button' onclick='removeFromStore(this.id)') Remove
        else
            button#book.isbn(type='button' onclick='addToCart(this.id)') Add To Cart
        br