if books != null
    each book of books 
        if user.owner
            button(type='button' id=book.isbn onclick='removeFromStore(this.id)') Remove
        else
            button(type='button' id=book.isbn onclick='addToCart(this.id)') Add To Cart
        a(href="/books/"+book.isbn) #{book.title}
        br