html
    head
        title Add Book
        link(rel='stylesheet' href='./styles.css')
    body
        include ./partials/header.pug
        br
        |Add Book To Store
        br
        br
        label(for="title") Title: 
        br
        input(type="textbox" id="title" size="50")
        br
        br
        label(for="author") Author: 
        br
        input(type="textbox" id="author" size="50")
        br
        br
        label(for="isbn") ISBN: 
        br
        input(type="textbox" id="isbn" size="50")
        br
        br
        label(for="num_pages") Page Count: 
        br
        input(type="textbox" id="num_pages" size="50")
        br
        br
        label(for="stock") Stock: 
        br
        input(type="textbox" id="stock" size="50")
        br
        br
        label(for="price") Price: 
        br
        input(type="textbox" id="price" size="50")
        br
        br
        label(for="publisher") Publisher: 
        br
        input(type="textbox" id="publisher" size="50")
        br
        br
        label(for="genres") Genres: 
        br
        input(type="textbox" id="genres" size="50")
        br
        br
        button(type='button' onclick='addBook()') Submit
    script(src="/js/query.js")