html
    head
        title Add Publisher
        link(rel='stylesheet' href='./styles.css')
    body
        include ./partials/header.pug
        br
        |Add Publisher To DB
        br
        br
        label(for="name") Name: 
        br
        input(type="textbox" id="name" size="50")
        br
        br
        label(for="address") Address: 
        br
        input(type="textbox" id="address" size="50")
        br
        br
        label(for="email") Email: 
        br
        input(type="textbox" id="email" size="50")
        br
        br
        label(for="bankNum") Bank Account Number: 
        br
        input(type="textbox" id="bankNum" size="50")
        br
        br
        label(for="phoneNum") Phone Number: 
        br
        input(type="textbox" id="phoneNum" size="50")
        br
        br
        button(type='button' onclick='addPublisher()') Submit
    script(src="/js/query.js")