html
    head
        title Books
        link(rel='stylesheet' href='./styles.css')
    body
        include ./partials/header.pug
        br
        |Search
        br
        input(type="text" id="book" size="50")
        button(type='button' onclick='searchBooks()') Search
        br
        br
        if query==""
            |Books that match search:
        else
            |Books that match #{query} 
        #books
            include ./partials/books_partial.pug
        
        script(src="/js/query.js")