html
    head
        title Cart
        link(rel='stylesheet' href='./styles.css')
    body
        include ./partials/header.pug
        br
        |Cart
        br
        br
        if books.length < 1
            |Nothing in cart
        else
        #cart
            include ./partials/cart_partial.pug
        br
        if books.length!=0
            form(action='/checkout')
                input(type='submit' value='Complete Order')
        script(src="/js/query.js")