html
    head
        title Log In
        link(rel='stylesheet' href='./styles.css')
    body
        include ./partials/header.pug
        br
        |Log In
        br
        br

        if (user == undefined)
            h1(style="text-align:center") Welcome! Please sign in.

            form(action="/login" method="post")
                label(for="username") Enter your username
                input(type="text" name="username" id="username")
                br
                br
                label(for="password") Enter your password
                input(type="password" name="password" id="password")
                br
                br
                input(type="submit" value="Login")

        else
            h1(style="text-align:center;") Welcome! Currently signed in as: #{user.username}

    script(src="/js/authentication.js")