html
    head
        title Log In
        link(rel='stylesheet' href='./styles.css')
    body
        include ./partials/header.pug
        br
        |Log In
        br
        br
        label(for="username") Username: 
        input(type="textbox" id="username" size="50")
        br
        br
        label(for="password") Password: 
        input(type="password" id="password" size="50")
        br
        br
        button(type='button' onclick='logIn()') Log In
    script(src="/js/authentication.js")