html
    head
        title Orders
        link(rel='stylesheet' href='./styles.css')
    body
        include ./partials/header.pug
        br
        |Search
        br
        input(type="text" id="user" size="50")
        button(type='button' onclick='searchOrders()') Search
        br
        br
        if query==""
            |Orders that match search:
        else
            |Orders that match #{query} 
        #orders
            include ./partials/orders_partial.pug
        script(src="/js/query.js")